<h1>All Contacts</h1>

<% @allContacts.each do |contact| %>
  <ul>
    <li>ID number: <%= contact.id %></li>
    <li>First Name: <%= contact.first_name %></li>
    <li>Last Name: <%= contact.last_name %></li>
    <li>Email: <%= contact.email %></li>
    <li>Note: <%= contact.note %></li>
  </ul>
<% end %>
</br>
<a href="/">back to home page</a>
