<h2 class="contactHeading">View Contact: </h2>

<ul class="contactView">
  <li>ID number: <%= @contact.id %></li>
  <li>First Name: <%= @contact.first_name %></li>
  <li>Last Name: <%= @contact.last_name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Note: <%= @contact.note %></li>
</ul>
</br>
<form action="/contacts/<%= @contact.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete Contact">
</form></br>
<a href="/contacts/<%= @contact.id%>/edit" >Edit Contact</a>
</br>
